$text-color: #444;
$title-height: 32px;
$sections-height: 44px;
$vert-padding: 16px;
$horiz-padding: 48px;

body {
	padding:     $vert-padding $horiz-padding;
	color:       $text-color;
	font-family: sans-serif;
}

.sheet {
	padding-top: $title-height + $sections-height;
}

.chord-pair .text-line {
	margin-top:     24px;
	display:        inline-block;
	position:       relative;
	white-space:    pre;
	height:         24px;
	//min-width:      24px;
	line-height:    24px;
	vertical-align: middle;
	&:before {
		content:  attr(data-content);
		position: absolute;
		top:      -18px;
	}
}

.chord-pair .text-line:before,
.chord-line {
	color:     #03A9F4;
	font-size: 15px;
}

.artist {
	font-size:   12px;
	margin-left: 16px;
	font-style: italic;
}

// These are chords that are found on a separate line
.chord-line { }

.chord-pair { }

// Blank whitespace lines
.empty-line {
	height: 16px;
}

.section {
	position:     relative;
	padding-left: 24px;
	margin-top:   8px;
	border-left:  4px solid #ddd;

	&[data-section]:before {
		color:            white;
		border-radius:    4px;
		padding:          4px 8px;
		position:         absolute;
		background-color: #eee;
		transform:        translate(calc(-100% - 24px), 0);
		transform-origin: 0 0;
		text-transform:   uppercase;
		z-index:          1;
	}

	&[data-section*="Bridge"] {
		border-left: 4px solid #03A9F4;

		&:before {
			content:          "BR";
			background-color: #03A9F4;
		}
	}

	&[data-section*="Chorus"] {
		border-left: 4px solid #ff5252;

		&:before {
			content:          "CH";
			background-color: #e91e63;
		}
	}

	&[data-section*="Pre-chorus"] {
		border-left: 4px solid #ff9800;

		&:before {
			content:          "PCH";
			background-color: #41fa41;
		}
	}

	&[data-section*="Intro"] {
		border-left: 4px solid #00BCD4;

		&:before {
			content:          "IN";
			background-color: #00BCD4;
		}
	}

	&[data-section*="Out"] {
		border-left: 4px solid #444;

		&:before {
			content:          "OUT";
			background-color: #444;
		}
	}

	&[data-section*="Interlude"] {
		border-left: 4px solid silver;

		&:before {
			content:          "INT";
			background-color: silver;
		}
	}

	&[data-section*="Verse"] {
		border-left: 4px solid #444;

		&:before {
			background-color: #444;
		}
	}

	&[data-section*="Verse 1"]:before { content: "1"; }
	&[data-section*="Verse 2"]:before { content: "2"; }
	&[data-section*="Verse 3"]:before { content: "3"; }
	&[data-section*="Verse 4"]:before { content: "4"; }
	&[data-section*="Verse 5"]:before { content: "5"; }
	&[data-section*="Verse 6"]:before { content: "6"; }
	&[data-section*="Verse 7"]:before { content: "7"; }
	&[data-section*="Verse 8"]:before { content: "8"; }
	&[data-section*="Verse 9"]:before { content: "9"; }
	&[data-section*="Verse 10"]:before { content: "10"; }

	.section-title {
		font-size:        12px;
		position:         absolute;
		transform:        rotate(90deg) translate(0, calc(100% + 20px));
		transform-origin: 0 0;
		text-transform:   uppercase;
	}
}

.sections {
	background-color: white;
	position:         fixed;
	top:              $vert-padding + $title-height;
	left:             0;
	right:            0;
	padding-left:     $horiz-padding;
	padding-right:    $horiz-padding;
	height:           $sections-height;
	line-height:      $sections-height;
	z-index:          2;
	box-shadow:       0 2px 2px rgba(0, 0, 0, 0.07);

	a {
		display: inline-block;
		cursor:  pointer;

		&:hover {
			color: #03A9F4;
		}
	}
}

.separator {
	margin: 0 8px;
}

// The lyric lines, there are 2 types, the ones in chord-pairs and the ones that are found without chords
.text-line {
	color:     $text-color;
	font-size: 20px;
}

// The song title

.title {
	background-color: white;
	position:         fixed;
	top:              0;
	left:             0;
	right:            0;
	padding-top:      $vert-padding;
	padding-left:     $horiz-padding;
	padding-right:    $horiz-padding;
	font-size:        24px;
	height:           $title-height;
	line-height:      $title-height;
	z-index:          2;
}

.prev-button,
.next-button {
	position:       fixed;
	top:            0;
	width:          44px;
	height:         44px;
	cursor:         pointer;
	user-select:    none;
	vertical-align: middle;
	text-align:     center;
	color:          white;
	z-index:        3;
	&:hover {
		color:            white;
		background-color: #00aff0;
	}
}

.prev-button {
	left: 0;
}

.next-button {
	right: 0;
}
