$horiz-padding: 68px;
$chord-gap: .75em;
.sheet {
	padding-left: $horiz-padding;
	padding-right: $horiz-padding;
}
// Blank whitespace lines
.empty-line {
	height: 16px;
}
.song-viewer {

	&__song {
		position: relative;
	}

	&__section {
		margin-left: 64px;
		margin-top: 8px;
		// border-left:  4px solid #ddd;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 1em;
		position: relative;

		@media print {
			padding-left: 40px;
		}

		@media (max-width: 600px) {
			margin-left: 0;
		}

		&[data-section]:before {
			color: white;
			border-radius: 4px;
			padding: 4px 8px;
			position: absolute;
			background-color: #eee;
			transform: translate(calc(-100% - 1em), 0);
			transform-origin: 0 0;
			text-transform: uppercase;
			z-index: 1;
		}

		&[data-section*="Bridge"] {
			border-left: 4px solid #03a9f4;

			&:before {
				content: "BR";
				background-color: #03a9f4;
			}
		}

		&[data-section*="Chorus"] {
			border-left: 4px solid #ff5252;

			&:before {
				content: "CH";
				background-color: #ff5252;
			}
		}

		&[data-section*="Chorus 2"] {
			border-left: 4px solid #ff5252;

			&:before {
				content: "CH 2";
				background-color: #ff5252;
			}
		}

		&[data-section*="Chorus 3"] {
			border-left: 4px solid #ff5252;

			&:before {
				content: "CH 3";
				background-color: #ff5252;
			}
		}

		&[data-section*="Pre-chorus"],
		&[data-section*="Pre-Chorus"],
		&[data-section*="Pre chorus"],
		&[data-section*="Pre Chorus"],
		&[data-section*="Prechorus"] {
			border-left: 4px solid #ff9800;

			&:before {
				content: "PC";
				background-color: #ff9800;
			}
		}

		&[data-section*="Intro"] {
			border-left: 4px solid #00bcd4;

			&:before {
				content: "IN";
				background-color: #00bcd4;
			}
		}

		&[data-section*="Out"],
		&[data-section*="Outtro"] {
			border-left: 4px solid #444;

			&:before {
				content: "OUT";
				background-color: #444;
			}
		}

		&[data-section*="Interlude"],
		&[data-section*="Instrumental"] {
			border-left: 4px solid silver;

			&:before {
				content: "INST";
				background-color: silver;
			}
		}

		&[data-section*="Verse"] {
			border-left: 4px solid #444;

			&:before {
				background-color: #444;
			}
		}

		&[data-section*="Tag"] {
			border-left: 4px solid #444;

			&:before {
				background-color: #444;
				content: "Tag";
			}
		}
		&[data-section*="Hook"] {
			border-left: 4px solid #444;

			&:before {
				background-color: #444;
				content: "Hk";
			}
		}

		&[data-section*="Verse"]:before { content: "V"; }
		&[data-section*="Verse 1"]:before { content: "1"; }
		&[data-section*="Verse 2"]:before { content: "2"; }
		&[data-section*="Verse 3"]:before { content: "3"; }
		&[data-section*="Verse 4"]:before { content: "4"; }
		&[data-section*="Verse 5"]:before { content: "5"; }
		&[data-section*="Verse 6"]:before { content: "6"; }
		&[data-section*="Verse 7"]:before { content: "7"; }
		&[data-section*="Verse 8"]:before { content: "8"; }
		&[data-section*="Verse 9"]:before { content: "9"; }
		&[data-section*="Verse 10"]:before { content: "10"; }

	}
}
