.song-list {
	box-sizing: border-box;
	display:    flex;
	padding:    24px;
	width:      100%;

	&__left-column {
		flex: 1 0 66%;
    height: 100%;
    padding: 12px;
	}

	&__right-column {
		flex: 1 0 34%;
    padding: 12px;
	}

	&__title {
    color: #444;
    padding: 4px 20px 1px 48px;
    font-size: 28px;
	}

  &__search {
    font-size: 12px;
    border:    1px solid grey;
    width:     100%;
    margin: 12px;
  }

	&__content {
		border:      0;
		font-family: monospace;
		font-size:   1.5em;
		padding:     8px 16px;
		width:       100%;
	}
}
