.song-editor {
	box-sizing: border-box;
	display:    flex;
	padding:    24px;

	&__left-column {
		flex: 1 0 66%;
		padding-right: 16px;
	}

	&__right-column {
		box-sizing: border-box;
		flex: 1 0 34%;
		padding: 12px;
	}

	&__title {
		border:    0;
		box-sizing: border-box;
		display:   block;
		font-size: 2em;
		width:     100%;
	}
	&__author {
		border:    0;
		box-sizing: border-box;
		display:   block;
		font-size: 1em;
		width:     100%;
	}

	&__content {
		font-family: monospace;
		font-size:   1em;
		width:       100%;
	}
	
	&__preview {
		border:      0;
		zoom:       0.6;
	}

	&__preview-title {
		border:    0;
		display:   block;
		font-size: 2em;
		width:     100%;
	}

	&__preview-content {
		border:      0;
		font-size:   1.5em;
		width:       100%;
		padding-top: 12px;
	}

}
