.live-bar {
	align-items: stretch;
	background-color: #f6f9fc;
	display: flex;
	flex: 0 0 48px;

	.level-item {
		margin-bottom: 0;
	}

	.live-bar-item-stacked {
		align-items: center;
		display: flex;
		flex: 0 0 auto;
		flex-direction: row;
		justify-content: center;
		padding: 0.5rem 0.5rem 0;
	}

	&__navigation-actions {
		display: flex;
		flex-wrap: nowrap;
		height: 100%;
		padding: 0 16px;
		overflow-y: hidden;
		text-transform: uppercase;
		font-size: 0.9em;

		&__setlistbutton {
			width: 100px !important;
		}

		&__item {
			align-items: center;
			box-sizing: border-box;
			border-radius: 0.25em;
			color: black;
			cursor: pointer;
			display: flex;
			padding: 8px;
			max-width: 300px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			& + & {
				margin-left: 0.25em;
			}

			&:hover {
				background-color: darken(#f6f9fc, 3%);
			}

			.song-key {
				margin-right: 0.5em;
			}
		}
	}
}
