.has-fixed-navbar {
	padding-top: 52px;
}

.app {
	display:        flex;
	flex-direction: column;
	height:         100%;

	&__content {
		flex:                       1 1 0;
		-webkit-overflow-scrolling: touch;
	}
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}
