@import "../../styles/main";
$title-height: 32px;
$sections-height: 44px;
$vert-padding: 16px;
$horiz-padding: 48px;

.sheet {
	padding-left:  $horiz-padding;
	padding-right: $horiz-padding;

	.sheet-header {
		align-items: center;
		display:     flex;
		padding-top: $vert-padding;
	}

	// The song title
	.title {
		flex:        1 0 0;
		font-size:   24px;
		height:      $title-height;
		line-height: $title-height;
	}

	.sections {
		height:      $sections-height;
		line-height: $sections-height;

		a {
			display: inline-block;
			cursor:  pointer;

			&:hover {
				color: #03a9f4;
			}
		}
	}
}
.chord-pair .text-line,
.chord-line .text-line {
	margin-top:     24px;
	display:        inline-block;
	position:       relative;
	white-space:    pre;
	height:         24px;
	line-height:    24px;
	vertical-align: middle;
	&:before {
		content:  attr(data-content);
		position: absolute;
		top:      -18px;
	}
}
.chord-pair .text-line:before,
.chord-line .text-line:before {
	color:     #03a9f4;
	font-size: 15px;
}
.artist {
	font-size:   12px;
	margin-left: 16px;
	font-style:  italic;
}
// These are chords that are found on a separate line
.chord-line .text-line {
	height:       0;
	margin-right: 8px;
	visibility:   hidden;

	&:before {
		visibility: visible;
	}
}
// Blank whitespace lines
.empty-line {
	height: 16px;
}
.section {
	position:     relative;
	padding-left: 24px;
	margin-top:   8px;
	border-left:  4px solid #ddd;

	&[data-section]:before {
		color:            white;
		border-radius:    4px;
		padding:          4px 8px;
		position:         absolute;
		background-color: #eee;
		transform:        translate(calc(-100% - 24px), 0);
		transform-origin: 0 0;
		text-transform:   uppercase;
		z-index:          1;
	}

	&[data-section*="Bridge"] {
		border-left: 4px solid #03a9f4;

		&:before {
			content:          "BR";
			background-color: #03a9f4;
		}
	}

	&[data-section*="Chorus"] {
		border-left: 4px solid #ff5252;

		&:before {
			content:          "CH";
			background-color: #ff5252;
		}
	}

	&[data-section*="Pre-chorus"] {
		border-left: 4px solid #ff9800;

		&:before {
			content:          "PCH";
			background-color: #ff9800;
		}
	}

	&[data-section*="Intro"] {
		border-left: 4px solid #00bcd4;

		&:before {
			content:          "IN";
			background-color: #00bcd4;
		}
	}

	&[data-section*="Out"] {
		border-left: 4px solid #444;

		&:before {
			content:          "OUT";
			background-color: #444;
		}
	}


	&[data-section*="Interlude"],
	&[data-section*="Instrumental"] {
		border-left: 4px solid silver;

		&:before {
			content:          "INT";
			background-color: silver;
		}
	}

	&[data-section*="Verse"] {
		border-left: 4px solid #444;

		&:before {
			background-color: #444;
		}
	}

	&[data-section*="Verse 1"]:before { content: "1"; }
	&[data-section*="Verse 2"]:before { content: "2"; }
	&[data-section*="Verse 3"]:before { content: "3"; }
	&[data-section*="Verse 4"]:before { content: "4"; }
	&[data-section*="Verse 5"]:before { content: "5"; }
	&[data-section*="Verse 6"]:before { content: "6"; }
	&[data-section*="Verse 7"]:before { content: "7"; }
	&[data-section*="Verse 8"]:before { content: "8"; }
	&[data-section*="Verse 9"]:before { content: "9"; }
	&[data-section*="Verse 10"]:before { content: "10"; }

	.section-title {
		font-size:        12px;
		position:         absolute;
		transform:        rotate(90deg) translate(0, calc(100% + 20px));
		transform-origin: 0 0;
		text-transform:   uppercase;
	}
}
.separator {
	margin: 0 8px;
}
// The lyric lines, there are 2 types, the ones in chord-pairs and the ones that are found without chords
.text-line {
	color:     $text-color;
	font-size: 20px;
	&:empty {
		min-width: 20px;
	}
}
